#installation p,
.caption-text {
  color: #636A6D;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

#installation h1,
#installation h2,
#installation h3,
#installation h4 {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin-bottom: 28px;
}

#installation h1 {
  font-size: 34px;
}

#installation h2 {
  font-size: 24px;
}

#installation h3 {
  font-size: 22px;
}

#installation h4 {
  font-size: 20px;
}