/* #installation p,
.caption-text {
  color: #636A6D;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.caption-text {
  text-align: left;
} */
