.toctree-l1 {
  background-color: transparent;
}

.current > .current > .internal {
  background-color: #fff;
  color: #FD8F01;
  border: transparent;
  padding: 11px 12px 11px 28px;
  border: none !important;
}

/* #running-on-bare-metal p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #525659;
  font-weight: 400;
} */
