/* #high-availability p,
#high-availability dl,
#high-availability .cfgcmd,
#high-availability .opcmd {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #525659;
  font-weight: 400;
} */