/* breadcrumbs */
.wy-breadcrumbs > li,
.wy-breadcrumbs > li a {
  color: #636A6D;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
  height: 26px;
}

.wy-breadcrumbs > li {
  padding: 5px 5px 5px 5px;
}

.wy-breadcrumbs > li a {
  padding: 0 5px 0 0;
}

.wy-breadcrumbs > li:nth-child(1) {
  visibility: hidden;
  position: relative;
  padding-left: 0;
}

.wy-breadcrumbs > li > .icon-home::after {
  content: url('../images/breadcrumbs-icon.svg');
  visibility: visible;
  right: 0px;
  top: 6px;
  position: absolute
}

.wy-breadcrumbs > li > .icon-home::before {
  padding-right: 0;
  content: 'Home';
  visibility: visible;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: 400;
}

.wy-breadcrumbs > li:nth-child(2) {
  font-weight: 500;
  color: #121010;
}

.wy-breadcrumbs > li:nth-child(3) {
  font-weight: 500;
  color: #121010;
  position: relative;
}

.wy-breadcrumbs > li:nth-child(4) {
  font-weight: 500;
  color: #121010;
  position: relative;
}

.wy-breadcrumbs > li:nth-child(3)::before {
  content: url('../images/breadcrumbs-icon.svg');
  left: -17px;
  top: 0;
  position: absolute;
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 2;
}

.wy-breadcrumbs > li:nth-child(3):has( + li + li)::after {
  content: url('../images/breadcrumbs-icon.svg');
  right: -5px;
  top: 0;
  position: absolute;
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 2;
}

.wy-breadcrumbs > li:last-of-type::before {
  display: none
}