/* #command-line-interface p,
#command-line-interface dl {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #525659;
  font-weight: 400;
} */

/* #configuration-overview p,
#configuration-overview dl,
#configuration-overview span,
#terminology span,
#terminology div.cmd-cfg {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #525659;
  font-weight: 400;
} */
