/* span.opcmd,
span.cfgcmd {
    font-weight: bold;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 100% !important;
    max-width: 100%;
    color: #000;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
} */

/* span.cfgcmd:before {
  content: "#";
  margin-right: 0px;
} */

/* td a.cmdlink span.cfgcmd:before,
td a.cmdlink span.opcmd:before  {
  content: "";
} */

/* td a.cmdlink,
td a.cmdlink {
  margin-left: 0px;
} */

/* tr td p {
  margin-bottom:0px
 } */

/* span.opcmd:before {
  content: "$";
  margin-right: 0px;
} */

/* .cfgcmd-heading {
    display: inline-block;
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #f0d481;
    color: #2980B9;
    border-top: solid 3px #6ab0de;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #FF9302;
    padding: 6px;
} */

/* .opcmd-heading {
    display: inline-block;
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #e7f2fa;
    color: #2980B9;
    border-top: solid 3px #6ab0de;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: rgb(106, 176, 222);
    padding: 6px;
} */

/* .opcmd-body,
.cfgcmd-body {
    margin: 6px 0;
    padding-left: 12px;
} */

/* .cfgcmd-heading .cmdlink:after,
.opcmd-heading .cmdlink:after{
    content: "ïƒ";
    font-family: FontAwesome
} */

/* .cfgcmd-heading:not(:hover) .cmdlink,
.opcmd-heading:not(:hover) .cmdlink {
    display: none;
} */

/* .defaultvalue{
  font-size: 90%;
  color: gray;
  margin-bottom: 5px;

} */

/* a.cmdlink {
    font-size: 80%;
    margin-left: 6px;
} */

/* a.cmdlink span{
    color: #2980B9;
} */

/* a.cmdlink span:hover{
    color: #3091d1;
} */

/* .wy-tray-container li.wy-tray-item-info {
  background : #409ad5;
} */

/* .wy-table-responsive {
  overflow : visible !important;
} */

/* .wy-table-responsive table td {
  white-space : normal !important;
} */

/* .wy-menu-vertical header,
.wy-menu-vertical p.caption {
  color : #ffcc00 !important;
} */

/* .wy-menu-vertical li.current a {
  color : #040077 !important;
} */

/* .wy-menu-vertical li ul li a {
  color : #ffffff !important;
} */

/* .wy-menu-vertical a {
  color : #ffffff !important;
} */

/* .wy-menu-vertical a:active {
  background-color : #409ad5 !important;
} */

/* .wy-side-nav-search {
  background-color : #ffffff !important;
}

.wy-side-nav-search img {
  background-color : red
}

.wy-side-nav-search > div.version {
  color : #000000 !important;
}

.wy-side-nav-search > a,
.wy-side-nav-search .wy-dropdown > a {
 color:#000000;
 font-size:100%;
 font-weight:bold;
 display:inline-block;
 padding:4px 6px;
 margin-bottom:.809em
} */



/* .wy-nav-top {
  background-color : #ffffff;
} */

/* .wy-nav-top img {
  background-color : #000000 !important;
} */

/* .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td.coverage-ok,
.rst-content table.docutils td.coverage-ok {
  color: green;
  text-align: center;
} */

/* .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td.coverage-fail,
.rst-content table.docutils td.coverage-fail {
  color: red;
  text-align: center;

} */

p.devwarning {
  top: 10px;
  position: sticky;
  margin: 10px 10px 10px 310px;
  padding: 5px 10px;
  border-radius: 4px;
  letter-spacing: 1px;
  color: #000;
  text-align: center;
  background: #d40 repeating-linear-gradient( 135deg, transparent, transparent 56px, rgba(255, 255, 255, 0.2) 56px, rgba(255, 255, 255, 0.2) 112px );
  background-color: #fdab10;
}

@media screen and (max-width: 768px) {
  .wy-nav-top{
    background-color: #fdab10;
  }
}

@media screen and (max-width: 768px) {
  p.devwarning {
    margin: 10px 10px 10px 10px;
  }
}

/* main page */

.wy-body-for-nav {
  background: #fff;
}

.wy-grid-for-nav {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.wy-nav-shift {
  border-radius: 16px;
}

.wy-nav-side {
  padding: 20px 19px;
  position: absolute;
  width: 294px;
}

.wy-nav-content-wrap,
.wy-nav-content {
  width: 100%;
  max-width: 850px;
  margin-left: auto;
  background-color: #fff;
}

.wy-nav-content {
  padding: 25px 0 27px 40px;
}

@media screen and (min-width: 768px) {
  .wy-nav-content-wrap {
    width: calc(100% - 292px);
  }
}

.wy-form input {
  height: 32px;
}

.wy-form input::placeholder {
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
}

.wy-side-nav-search {
  width: 100%;
  max-width: 256px;
  padding: 0;
  margin-bottom: 0;
}

.wy-side-nav-search > .icon-home,
.wy-side-nav-search > .version {
  display: none
}

.wy-nav-side,
.wy-nav-side .wy-side-nav-search {
  background-color: #F6F7F7
}

.wy-side-nav-search input {
  border-color: #C4C9CC;
}

.wy-side-nav-search input::placeholder {
  color: #8D9499;
}

.wy-menu-vertical {
  padding: 0 19px 0 0;
  width: 100%;
  max-width: 292px;
}

.wy-menu-vertical a {
  color: #121010;
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  padding: 11px 12px;
}

.wy-menu-vertical p.caption {
  color: #8D9499;
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.02em;
  padding: 5px 12px;
  margin-top: 6px;
  margin-bottom: 4px;
  text-transform: none;
}

.wy-menu-vertical li.toctree-l1.current > a {
  background-color: #fff;
  color: #FD8F01;
  border: transparent;
}

.wy-menu-vertical li.toctree-l1.current .toctree-l2 > a {
  background-color: #fff;
  border: transparent;
}

.wy-menu-vertical a:hover {
  background-color: #fff;
  color: #FD8F01;
}

/* breadcrumbs */
.wy-breadcrumbs > li,
.wy-breadcrumbs > li a {
  color: #636A6D;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.wy-breadcrumbs > li:nth-child(1) {
  visibility: hidden;
  position: relative;
}

.wy-breadcrumbs > li > .icon-home::after {
  content: url('../images/breadcrumb-icon.png');
  visibility: visible;
  right: -6px;
  top: 6px;
  position: absolute
}

.wy-breadcrumbs > li > .icon-home::before {
  padding-right: 0;
  content: 'Home';
  visibility: visible;
}

.wy-breadcrumbs > li:nth-child(2) {
  padding-left: 12px;
  font-weight: 500;
}

/* main-page content */

#vyos-user-guide .container {
  padding-left: 0;
  padding-right: 0;
}

#vyos-user-guide .container > .docutils > .p-2 {
  padding: 7px 1px 10px 0px !important;
  width: calc(50%  - 30px);
  max-width: 387px;
  box-shadow: none;
  
  &:nth-child(1n + 3) {
    margin-top: 14px;
  };

  &:nth-child(2n) {
    margin-left: 30px;
  };

  & .card-body .card-text {
    height: 120px;
  }
}

#vyos-user-guide .container > .row {
  margin: 0;
}

#vyos-user-guide > h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: -0.02em;
}

#vyos-user-guide > .pb-4 {
  padding-bottom: 1.4rem !important;
}

div.card-header {
  font-weight: bold;
  background: #fff;
  border: none;
}

.card {
  background: #fff;
  border: none;
  border-bottom: 1px solid #FFAE12;
  border-radius: 0;
  box-shadow: none !important;
}

.card-header,
.card-body {
  padding: 0 15px 0 0;
}

.rst-content > div > hr {
  margin: 16px 0 26px 0;
}

.docutils .card-header p {
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.05em;
  padding-bottom: 18px;
}

.card-body .card-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: 400;
  padding-bottom: 22px;
  display: block;
}

.rst-footer-buttons > .btn-neutral {
  background: #fff !important;
  width: 90px;
  height: 40px;
  border: 2px solid #FD8F01;
  color: #121010 !important;
  font-family: 'Archivo', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.02em;
  position: relative;
  text-align: left;
  padding-left: 16px;
  padding-right: 18px;
  box-shadow: none;
}

.btn-neutral > .fa-arrow-circle-right::before {
  content: url('../images/arrow-right.png');
  position: absolute;
  top: 10px;
  right: 15px;
}

.internal > .std-ref,
.line > .external {
  color: #FD8F01;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: 400;
}

/* footer */

footer > hr {
  display: none;
}

footer p {
  margin-top: 105px;
  padding-right: 30px;
}

footer p,
footer {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
}
