p.devwarning {
	top: 10px;
	position: sticky;
	margin: 10px 10px 10px 310px;
	padding: 5px 10px;
	border-radius: 4px;
	letter-spacing: 1px;
	color: #000;
	text-align: center;
	background: #d40
		repeating-linear-gradient(
			135deg,
			transparent,
			transparent 56px,
			rgba(255, 255, 255, 0.2) 56px,
			rgba(255, 255, 255, 0.2) 112px
		);
	background-color: #fdab10;
}

@media screen and (max-width: 768px) {
	.wy-nav-top {
		background-color: #fdab10;
	}
}

@media screen and (max-width: 768px) {
	p.devwarning {
		margin: 10px 10px 10px 10px;
	}
}

/* main page */

.wy-body-for-nav {
	background: #fff;
  overflow-y: hidden
}

.wy-grid-for-nav {
	margin: 0 auto;
	position: relative;
	padding-top: 70px;
	display: flex;
}

.wy-grid-for-nav:has(nav.wy-nav-side.shift) {
	background: #E7E7E7;
}

.wy-nav-content-wrap {
	width: 100%;
	margin-left: auto;
	background-color: transparent;
}

.wy-nav-content {
	max-width: 100%;
	background-color: transparent;
}

@media screen and (max-width: 768px) {
	.wy-nav-content-wrap,
	.wy-nav-content-wrap.shift {
		max-width: 100%;
		margin: 0 auto;
		width: 100%
	}

	.wy-nav-content-wrap.shift {
		padding: 70px 15px 0;
		overflow: auto;
		width: calc(100% - 294px);

	}

	.wy-nav-side {
		display: none;
		min-height: unset;
	}

	.wy-nav-side.shift {
		display: inherit;
		width: 294px;
	}
}

.wy-grid-for-nav:not(:has(nav.shift)) > section > div.overlay {
	background-color: transparent
}

.wy-grid-for-nav:not(:has(nav.shift)) section > div.overlay > div .wy-breadcrumbs > li a::before,
.wy-grid-for-nav:not(:has(nav.shift)) section > div.overlay > div .wy-breadcrumbs > li a::after,
.wy-grid-for-nav:not(:has(nav.shift)) section > div.overlay > div .wy-breadcrumbs > li::before,
.wy-grid-for-nav:not(:has(nav.shift)) section > div.overlay > div .wy-breadcrumbs > li::after {
	background-color: #fff;
}

.wy-nav-content.overlay > div > div[role=navigation] .wy-breadcrumbs > li a::before,
.wy-nav-content.overlay > div > div[role=navigation] .wy-breadcrumbs > li a::after,
.wy-nav-content.overlay > div > div[role=navigation] .wy-breadcrumbs > li::before,
.wy-nav-content.overlay > div > div[role=navigation] .wy-breadcrumbs > li::after,
.wy-nav-content.overlay > div > div.document div.card,
.wy-nav-content.overlay > div > div.document div.card-header {
	background-color: #E7E7E7;
} 

@media screen and (min-width: 768px) and (max-width: 991px) {
	.wy-nav-content {
		padding: 25px 0 27px 40px;
	}

	.wy-nav-content-wrap {
		max-width: calc(100% - 294px);
	}

	.wy-grid-for-nav {
		max-width: 738px;
		padding: 70px 15px 0;
	}
}

@media screen and (min-width: 992px) and (max-width: 1266px) {
	.wy-nav-content {
		padding: 25px 0 27px 40px;
	}

	.wy-nav-content-wrap {
		max-width: calc(100% - 294px);
	}

	.wy-grid-for-nav {
		max-width: calc(100% - 130px);
	}
}

@media screen and (min-width: 1266px) {
	.wy-nav-content {
		padding: 25px 0 27px 40px;
	}

	.wy-nav-content-wrap {
		max-width: calc(100% - 294px);
	}

	.wy-grid-for-nav {
		max-width: 1140px;
	}
}

@media screen and (min-width: 1500px) {
	.wy-nav-content {
		padding: 25px 0 27px 40px;
	}

	.wy-nav-content-wrap {
		max-width: calc(100% - 294px);
	}

	.wy-grid-for-nav {
		max-width: 1340px;
	}
}

@media screen and (min-width: 768px) {
	.wy-nav-content-wrap {
		width: calc(100% - 292px);
	}
}

@media screen and (max-width: 768px) {
	.wy-nav-content-wrap .wy-nav-content {
		padding: 0 0 26px 0;

	}

	.wy-grid-for-nav {
		padding: 80px 15px 0;
		max-width: 738px;
	}
}

@media screen and (max-width: 575px) {
	.wy-grid-for-nav {
		padding: 80px 20px 0;
		max-width: 738px;
	}
}

/* main-page content */

#vyos-user-guide .container {
	padding-left: 0;
	padding-right: 0;
}

@media screen and (max-width: 768px) {
	#vyos-user-guide .container {
		max-width: none;
	}
}

#vyos-user-guide .container > .docutils > .p-2 {
	padding: 7px 1px 10px 0px !important;
	max-width: 387px;
	box-shadow: none;
	flex: none;

	&:nth-child(1n + 3) {
		margin-top: 14px;
	}

	&:nth-child(2n) {
		margin-left: 30px;
	}

	& .card-body .card-text {
		min-height: 120px;
	}
}

@media screen and (max-width: 575px) {
	#vyos-user-guide .container > .docutils > .p-2 {
		max-width: 100%;
		&:nth-child(2n) {
			margin-left: 0;
		}

		& .card-body .card-text {
			min-height: 80px;
		}
	}
}

@media screen and (min-width: 575px) and (max-width: 1500px) {
	#vyos-user-guide .container > .docutils > .p-2 {
		width: calc(50% - 15px);
	}
}

@media screen and (min-width: 1500px) {
	#vyos-user-guide .container > .docutils > .p-2 {
		max-width: 480px;
	}
}

#vyos-user-guide .container > .row {
	margin: 0;
	justify-content: space-between;
}

#vyos-user-guide > .pb-4 {
	padding-bottom: 1.4rem !important;
}

div.card-header {
	font-weight: bold;
	background: #fff;
	border: none;
}

.card {
	background: #fff;
	border: none;
	border-bottom: 1px solid #ffae12;
	border-radius: 0;
	box-shadow: none !important;
}

.card-header,
.card-body {
	padding: 0 15px 0 0;
}

@media screen and (max-width: 575px) {
	.card-header,
	.card-body {
		padding: 0 15px;
	}
}

.rst-content > div > hr {
	margin: 16px 0 26px 0;
}

.internal > .std-ref,
.line > .external {
	color: #fd8f01;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	letter-spacing: -0.5px;
	font-weight: 400;
}

img {
	height: auto !important;
}

/* footer */

footer > hr {
	display: none;
}

footer p {
	margin-top: 105px;
	padding-right: 30px;
}

footer p,
footer {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: -0.5px;
	color: #636a6d;
}

footer p:has(a) > a,
footer p:has(a) > a:visited {
	color: #636a6d;
}




.rst-versions {
	position: static;
	background: transparent;
	/* margin-top: 35px; */
	width: 262px;
}

.rst-versions.shift-up {
	background: #525659;
	z-index: 100;
	position: absolute;
	left: 19px;
	bottom: 30px;
	border-radius: 6px;
	overflow: hidden;
}

.rst-versions .rst-current-version {
	background-color: #525659;
	color: #01D38E; 
	border-radius: 6px;
	width: 264px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: -0.5px;
}

.rst-other-versions dt {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	letter-spacing: -0.5px;
}

.rst-other-versions small {
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

.rst-other-versions small a {
	font-family: 'Roboto', sans-serif;
	letter-spacing: -0.5px;
	color: #fd8f01;
}

.rst-versions .rst-current-version span.fa-book {
	color: #fff !important;
	font-family: 'Roboto', sans-serif;
	letter-spacing: -0.5px;
}