p.devwarning {
  top: 10px;
  position: sticky;
  margin: 10px 10px 10px 310px;
  padding: 5px 10px;
  border-radius: 4px;
  letter-spacing: 1px;
  color: #000;
  text-align: center;
  background: #d40 repeating-linear-gradient( 135deg, transparent, transparent 56px, rgba(255, 255, 255, 0.2) 56px, rgba(255, 255, 255, 0.2) 112px );
  background-color: #fdab10;
}

@media screen and (max-width: 768px) {
  .wy-nav-top {
    background-color: #fdab10;
  }
}

@media screen and (max-width: 768px) {
  p.devwarning {
    margin: 10px 10px 10px 10px;
  }
}

/* main page */

.wy-body-for-nav {
  background: #fff;
}

.wy-grid-for-nav {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.wy-nav-content-wrap,
.wy-nav-content {
  width: 100%;
  max-width: 850px;
  margin-left: auto;
  background-color: #fff;
}

@media screen and (max-width: 1200px) {
  .wy-nav-content {
    padding: 25px 25px 27px 40px;
  }
}

@media screen and (min-width: 1200px) {
  .wy-nav-content {
    padding: 25px 0 27px 40px;
  }
}


@media screen and (min-width: 768px) {
  .wy-nav-content-wrap {
    width: calc(100% - 292px);
  }
}

/* main-page content */

#vyos-user-guide .container {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 768px) {
  #vyos-user-guide .container {
    max-width: none;
  }
}

#vyos-user-guide .container > .docutils > .p-2 {
  padding: 7px 1px 10px 0px !important;
  max-width: 387px;
  box-shadow: none;
  flex: none;

  &:nth-child(1n + 3) {
    margin-top: 14px;
  };

  &:nth-child(2n) {
    margin-left: 30px;
  };

  & .card-body .card-text {
    min-height: 120px;
  }
}

@media screen and (max-width: 575px) {
  #vyos-user-guide .container > .docutils > .p-2 {
    max-width: 100%;
    &:nth-child(2n) {
      margin-left: 0;
    };

    & .card-body .card-text {
      min-height: 80px;
    }
  }
}

@media screen and (min-width: 575px) {
  #vyos-user-guide .container > .docutils > .p-2 {
    width: calc(50% - 15px);
  }
}

#vyos-user-guide .container > .row {
  margin: 0;
  justify-content: space-between;
}

#vyos-user-guide > .pb-4 {
  padding-bottom: 1.4rem !important;
}

div.card-header {
  font-weight: bold;
  background: #fff;
  border: none;
}

.card {
  background: #fff;
  border: none;
  border-bottom: 1px solid #FFAE12;
  border-radius: 0;
  box-shadow: none !important;
}

.card-header,
.card-body {
  padding: 0 15px 0 0;
}

@media screen and (max-width: 575px) {
  .card-header,
  .card-body {
    padding: 0 15px;
  }
}

.rst-content > div > hr {
  margin: 16px 0 26px 0;
}

.internal > .std-ref,
.line > .external {
  color: #FD8F01;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: 400;
}

img {
  height: auto !important;
}

/* footer */

footer > hr {
  display: none;
}

footer p {
  margin-top: 105px;
  padding-right: 30px;
}

footer p,
footer {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #636A6D;
}

footer p:has(a) > a,
footer p:has(a) > a:visited {
  color: #636A6D;
}
