.rst-content code.literal {
  border: unset;
  background-color: unset;
}

.rst-content code.literal  {
  border: 1px solid rgba(253, 143, 1, 0.2);
  background-color: #FFF4E6;
  font-family: 'Archivo', sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #121010 !important;
  border-radius: 4px;
  padding: 3px 6px;
  display: inline-flex;
  width: auto;
  height: 20px;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.rst-content code.literal > span.pre:nth-child(n+ 2) {
  padding-left: 5px;
}

div.opcmd-heading,
div.cfgcmd-heading {
  padding: 0;
  display: flex;
  background-color: unset;
  border: none;
  margin-bottom: 15px;
}

span.opcmd,
span.cfgcmd {
  display: flex;
  padding: 4px 16px 8px 30px;
  align-items: center;
  border-radius: 8px 0 0 8px;
  color: #121010 !important;
  font-size: 16px !important;
  font-family: 'Roboto Mono', monospace !important;
  letter-spacing: -0.04em !important;
  font-weight: 500 !important;
  position: relative;
}

span.opcmd {
  background-color: #EBF9FF;
  border-left: 5px solid #B8E9F9;
}

span.cfgcmd {
  background-color: #FFF4E6;
  border-left: 5px solid #FD8F01;
}

span.opcmd::before,
span.cfgcmd::before {
  content: url('../images/cmnd-link-dollar-icon.svg');
  display: flex;
  padding-right: 8px;
  align-items: center;
  position: absolute;
  top: 6px;
  left: 8px;
}

.opcmd-heading > a.cmdlink,
.cfgcmd-heading > a.cmdlink {
  display: flex;
}

.opcmd-heading a.cmdlink:after,
.cfgcmd-heading a.cmdlink:after {
  display: flex;
  align-items: center;
  content: '';
  height: 100%;
  align-items: center;
  padding-right: 24px;
  padding-top: 3px;
  border-radius: 0 8px 8px 0;
}

.opcmd-heading:hover a.cmdlink:after,
.cfgcmd-heading:hover a.cmdlink:after {
  content: url('../images/cmnd-link-icon.svg');
  padding-right: 10px;
}

.opcmd-heading a.cmdlink:after {
  background-color: #EBF9FF;
}

.cfgcmd-heading a.cmdlink:after {
  background-color: #FFF4E6;
}