/* .wy-table-responsive { */
  /* overflow : scroll ; */
/* } */

.wy-table-responsive table td {
  white-space : normal;
}

#coverage .wy-table-responsive {
  overflow : visible !important;
}

#coverage .wy-table-responsive table td {
  white-space : normal !important;
}

#coverage table.docutils td.coverage-ok p {
  color: green;
  text-align: center;
}

#coverage table.docutils:not(.field-list) tr:nth-child(2n-1) td.coverage-fail p,
#coverage table.docutils td.coverage-fail p {
  color: red;
  text-align: center;
}

#coverage a.paginate_button.current,
#coverage a.paginate_button.next,
#coverage a.paginate_button.previous {
  color: #FD8F01 !important;
  background-color: none;
  background: none;
}

#coverage a.paginate_button {
  margin-left: 0;
  border: unset;
  border-radius: 8px;
  transition: background-color 250ms linear, color 250ms linear;
}

#coverage a.paginate_button:hover,
#coverage a.paginate_button.current:hover,
#coverage a.paginate_button.next:hover,
#coverage a.paginate_button.previous:hover {
  background-color: #E1E4E5 !important;
  background: none;
  border: unset;
  color: #121010 !important;
}

table > caption:hover a {
  position: relative;
}

table > caption:hover a::after {
  content: url('../images/cmnd-link-icon.svg');
  position: absolute;
  top: 0;
  right: -3px;
  z-index: 2;
  background-color: #fff;
  width: 20px;
  height: 100%;
}