#azure h1,
#azure h2 {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
}

#azure h1 {
  font-size: 34px;
}

#azure h2 {
  font-size: 24px;
}

#azure p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #525659;
  font-weight: 400;
}