#oracle h1,
#oracle h2 {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
}

#oracle h1 {
  font-size: 34px;
}

#oracle h2 {
  font-size: 24px;
}

#oracle p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #525659;
  font-weight: 400;
}