#ospf h1,
#ospf h2,
#ospf h3,
#ospf h4 {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
}

#ospf h1 {
  font-size: 34px;
}

#ospf h2 {
  font-size: 24px;
}

#ospf h3 {
  font-size: 22px;
}

#ospf h4 {
  font-size: 20px;
}

#ospf p,
#ospf .cfgcmd,
#ospf .opcmd {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #525659;
  font-weight: 400;
}