#dynamic-dns h1,
#dynamic-dns h2,
#dynamic-dns h3,
#dynamic-dns h4 {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
}

#dynamic-dns h1 {
  font-size: 34px;
}

#dynamic-dns h2 {
  font-size: 24px;
}

#dynamic-dns h3 {
  font-size: 22px;
}

#dynamic-dns h4 {
  font-size: 20px;
}

#dynamic-dns p,
#dynamic-dns .cfgcmd,
#dynamic-dns .opcmd {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #525659;
  font-weight: 400;
}