#http-api h1,
#http-api h2 {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
}

#http-api h1 {
  font-size: 34px;
}

#http-api h2 {
  font-size: 24px;
}

#http-api p,
#http-api .cfgcmd {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #525659;
  font-weight: 400;
}