/* #default-gateway-route p,
#default-gateway-route .cfgcmd, 
#default-gateway-route .opcmd {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #525659;
  font-weight: 400;
} */