#flow-accounting h1,
#flow-accounting h2,
#flow-accounting h3,
#flow-accounting h4 {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
}

#flow-accounting h1 {
  font-size: 34px;
}

#flow-accounting h2 {
  font-size: 24px;
}

#flow-accounting h3 {
  font-size: 22px;
}

#flow-accounting h4 {
  font-size: 20px;
}

#flow-accounting p,
#flow-accounting .cfgcmd, 
#flow-accounting .opcmd {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #525659;
  font-weight: 400;
}