/* #wlan-wifi-wireless-lan p,
#wlan-wifi-wireless-lan .opcmd,
#wlan-wifi-wireless-lan .cfgcmd {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #525659;
  font-weight: 400;
} */