#running-on-vmware-esxi h1,
#running-on-vmware-esxi h2,
#running-on-vmware-esxi h3 {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
}

#running-on-vmware-esxi h1 {
  font-size: 34px;
}

#running-on-vmware-esxi h2 {
  font-size: 24px;
}

#running-on-vmware-esxi h3 {
  font-size: 22px;
}

#running-on-vmware-esxi p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #525659;
  font-weight: 400;
}